<div *ngIf="rideDetails">
   <h3>{{ rideDetails.displayName }} + {{ rideDetails.fare }}</h3>
   <span>Travel Time - {{rideDetails.etaStringShort}}</span>
</div>


<!-- export class Product {
    //   constructor(
    //     public badges: any[],
    //     public capacity: number,
    //     public cityID: string,
    //     public currencyCode: string,
    //     public description: string,
    //     public detailedDescription: string,
    //     public discountPrimary: string,
    //     public displayName: string,
    //     public estimatedTripTime: number,
    //     public etaStringShort: string,
    //     public fare: string,
    //     public hasPromo: boolean,
    //     public hasRidePass: boolean,
    //     public id: string,
    //     public is3p: boolean,
    //     public isAvailable: boolean,
    //     public legalConsent: any,
    //     public meta: string,
    //     public preAdjustmentValue: string,
    //     public productImageUrl: string,
    //     public productUuid: string,
    //     public reserveEnabled: boolean,
    //     public __typename: string
    //   ) {}
    // } -->